page-minishop-shop-list {
  .contain {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .items {
    flex: 1;
    padding-bottom: 40px;
  }
  ion-scroll[scrollX = 'true'] {
    height: 45px;
    width: 100%;
    overflow: hidden;
    line-height: 37px;
  }
  .items .searchCate {
    line-height: 20px;
    height: 40px;
  }
  li {
    display: inline-block;
    margin-left: 8px;
    [ion-button] {
      padding: 0 !important;
      width: 75px;
    }
  }
  .menus {
    width: 25%;
    padding-bottom: 40px;
    background-color: #F4F5F6;
    .list-ios .item-block .item-inner {
      border-bottom: none !important;
    }
    ion-scroll {
      background-color: #F4F5F6;
    }

    ion-item {
      background-color: #F4F5F6;
      border-bottom: 0 !important;
      text-align: center;
      padding: 0;
      ion-label {
        font-family: "黑体";
        font-size: 80%;
        margin: 0 !important;
        padding: 0 2px;
        white-space: normal;
      }
    }
    .list-md .item-block .item-inner {
      border: 0;
      padding: 0;
    }
  }
  .active1 {
    border-left: 2px solid $antColor !important;
    border-right: 1px solid $antColor !important;
    color: $antColor;
    background-color: white!important;
  }
  .active {
    font-weight: bold;
    background-color: $antColor!important;
    border-radius: 4px;
    color: white;
  }
  dl{
    display: flex;
    padding: 10px;
  }
  dt{
    width: 9rem;
    img {
      width: 8rem !important;
      vertical-align: middle;
      height: 8rem !important;
      margin-left: 0.2rem;
    }
  }

  dd{
    flex: 1;
    width: 0;
    h3, p {
      text-align: left;
    }
    h3 {
      font-size: 1.5rem;
      margin-top: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0;
    }
    p{
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: $fontColor;
    }
    .price {
      color: $antColor;
    }
    .buy{
      text-align: center;
      width: 70px;
      display: flex;
      float: right;
      button{
        width:2rem;
        height: 2rem;
        font-size: 2rem;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        font-weight: bold;
        line-height: 0;
        margin: 0;
        padding: 0;
      }

      .button-ios {
        span{
          padding-bottom: 5px;
        }
      }
      .buy_left{
        font-size: 2.4rem;
      }
      .buy_center{
        flex: 1;
      }
      input{
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
      }
    }
    .noNum {
      width: auto;
      color: $antColor;
    }
  }
}
