page-wholesale-detail {
  ion-slides {
    height: auto;
    img {
      height: 350px !important;
    }
  }
  //.backdrop {
  //  width: 100%;
  //  position: absolute;
  //  height: 100%;
  //  background-color: rgba(0, 0, 0, 0.4);
  //  top: 0;
  //  bottom: 0;
  //  z-index: 99;
  //}
  .scroll-content {
    padding-top:0 !important;
  }
  .homes .bar-button .button-inner{
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  ion-header{
    height: 44px !important;
    .toolbar-background {
      background-color: rgba(255, 0, 0, 0);

    }
    .head_button {
      //background-color: rgba(0, 0, 0, 0.2);
      //border-radius:100%;
      //width: 30px;
      //height: 30px;
      //text-align: center;
      ion-icon[name='gouwu2']{
        font-size: 2rem;
        position: initial;
      }
      .cart_num {
        top: 0;
        right: 1px;
      }
      span {
        position: initial;
      }

    }
  }
  dl{
    padding: 10px;
    border-bottom: 10px solid $borderColor;
  }
  dt {
    color: $fontColor;
    h4 {
      margin: 4px 0px;
      font-size: 1.6rem;
      color: black;
    }
    p {
      margin-bottom: 5px;
    }
  }
  ion-textarea {
    padding: 16px;
  }
  textarea.text-input {
    height: 150px;
  }
  .price {
    span {
      b {
        font-size: 1.4rem;
      }
      color: $antColor;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  ion-footer {
    border: 0;
    .toolbar {
      padding: 0;
    }
    ion-buttons {
      margin: 0;
      width: 60%;
    }
    .bar-button {
      background-color: red !important;
      color: white !important;
      width: 100%;
      height: 44px;
    }
    .noCart {
      background-color: grey !important;
      color: white !important;
    }
    .bar-button-md {
      height: 56px;
      margin: 0;
    }
    i {
      color: $antColor;
      font-size: 1.6rem;
    }
    ion-icon {
      font-size: 2.1rem;
    }
    p {
      margin: 0 auto;
      text-align: center;
    }
    .title_foot {
      display: inherit;
      font-size: 1.2rem;
    }
    ion-icon[name='yishoucang'] {
      color: #EDC83B;
    }
  }
}
