page-user-marketing-detail {
  .row {
    border-bottom: 1px solid $borderColor1;
  }
  .goldinfo {
    .col {
      padding:15px 0 !important;
      color: $fontColor;
    }
  }
  .goldHeader {
    .col {
      padding:15px 0 !important;
    }
  }
}
