page-wholesale-detail-modal {
  ion-header {
    height: 150px;
  }
  //height: 80% !important;
  bottom: 0 !important;
  top: auto !important;
  .headerInfo {
    padding: 10px;
    display: flex;
    .left {
      height: 100px;
      width: 100px;
      img{
        width: 100%;
        height: 100px;
      }
    }
    .right{
      flex: 1;
      padding-left: 10px;
    }
    .priceAll {
      padding-top: 45px;
      span {
        color: $antColor;
      }
    }
    ion-icon {
      font-size: 2rem;
      height: 25px;
      width: 25px;
      text-align: right;
    }
  }
  ion-footer {
    button{
      margin: 0 !important;
    }
    .toolbar {
      padding: 0!important;
    }
    button{
      margin: 0 !important;
      min-height: 44px;
    }
    .button-md {
      height: 56px;
    }
  }
  .buyDetail {
    .item-block {
      padding-left: 10px;
    }
    .presaleTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 18px;
    }
    .item, .presaleNum {
      border-color: rgba(0, 0, 0, 0.1);
      font-size: 14px;
      padding-bottom: 10px;
      i, input{
        border: 1px solid rgba(0,0,0,0.1);
        vertical-align: bottom;
        text-align: center;
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 30px;
      }
      input {
        width: 40px;
      }
      span {
        background-color: rgba(0, 0, 0, 0.05);
        display: inline-block;
        padding: 2px 10px;
        border-radius: 10px;
        margin: 4px;
      }
      .checked {
        background-color: #ef473a;
        color: white;
      }
      div{
        white-space: normal;
      }
    }
    .presaleNum {
      padding:10px 0 0 0;
    }
      .title {
        margin-top: 4px;
      }
      .num {
        text-align: right;
        i:first-child {
          font-size: 2.5rem;
        }
      }
  }
  .scroll-content {
    margin-top: 150px !important;
  }
  .batch {
    text-align: center;
    .col {
      color: $antColor;
      margin: 5px;
      border: 1px solid $antColor;
    }
  }
}

