page-member-exchange-confirm {
	.item[no-lines], .item.item[no-lines] .item-inner{
		//border-top:1px solid #dedede;
    font-size: 1.4rem;

  }
  ion-card-content {
    border-bottom: 2px solid #dedede;
  }
	.ion-item-divider{
		min-height:.3rem;
	}
}
