<!--
  Generated template for the WholesaleExplainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="id == 1">积分介绍</ion-title>
    <ion-title *ngIf="id == 2">网上银行及信用额度介绍</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngIf="id == 2">
    <h4>1、什么是云蚂蚁网上银行？</h4>
    <p>云蚂蚁网上银行是云蚂蚁批发平台会员个人虚拟账户。您可通过网银转账、银行汇款、充值卡的形式将款提前预存到自己的云蚂蚁网银账户中，在订购商品时可直接用网银账户余额进行支付。“余额明细”详细记录了您帐户的明细，您可以查询到任意时间点的帐户收支情况。网上银行账户资金可随时使用、充值、提现，安全、方便、快捷，您可放心使用。</p>
    <h4>2、启用网上银行的原因</h4>
    <p>方便您的支付：免去现金支付带来的不便。</p>
    <p>方便处理您退/换货产生的差额及退款：退/换货产生的差额及退款您可以要求退还到您的云蚂蚁网银账户内，方便快捷。</p>
    <h4>3、提供三种充值方式，前期业务员上门指导</h4>
    <p>网银充值：直接网银划账，划账后电话或短信告知财务部。</p>
    <p>银行汇款：至银行汇款，汇款后需电话或短信告知财务部。</p>
    <p>银行汇款：至银行汇款，汇款后需电话或短信告知财务部。</p>
    <h4>4、网上银行支付优惠</h4>
    <p>4月20日16:00起使用网上银行进行货款支付，可享受更多优惠。（点击查看具体活动详情）</p>
    <h4>5、信用额度</h4>
    <p>为让用户体验网上银行支付的便捷和实惠，云蚂蚁批发平台开放<b>3000元的信用额</b>，即您无需充值就可使用网上银行进行货款支付，额度为3000元。结算后，直接签收商品即可。</p>
    <p class="special highlight">使用信用额支付，需在签收商品后24小时内将相应货款金额充值到您的云蚂蚁网银账户中，恢复您的信用额。延迟超过48小时系统将自动列入黑名单。信用额充值不享受充值优惠。</p>
    <p class="special">下单满3次以上服务站可直接联系业务员或拨打批发客服热线：0571-86901882申请开通。</p>
  </div>
  <div *ngIf="id == 1">
    <h4>一、什么是积分？</h4>
    <p>积分是云蚂蚁批发平台会员在进货购物时，平台按照比例自动产生的可兑换虚拟凭证，购物积分数以订单金额为准（活动内金额不在计算范围内，如：满减、满送、优惠券等平台系列活动），积分具体使用情况可在积分明细中查询。</p>
    <h4>二、每日积分：</h4>
    <p>1、每日积分领取时间：每日凌晨00:00分至23:59分。</p>
    <p>2、积分累加领取规则：假设日积分领取基数为500，即第一天可领500积分，第二天可领600积分，第三天可领700积分，第四天可领800积分，第五天可领900积分，第六天可领1000积分（1000积分为封顶积分），保持连续领取可持续获得1000积分，如中间出现间隔，再次领取时从500基础积分开始循环。</p>
    <p>3、积分有效期：积分的有效期最长2年，最短1年，即从获得积分开始至次年年底，逾期自动作废。</p>
    <p>4、积分有效期说明：用户获得但未使用的积分，将在下一个自然年底过期，云蚂蚁将定期对过期积分进行作废处理。例2016年12月31日将清空2015年度客户获得但未使用的积分。</p>
    <h4>三、如何获得积分：</h4>
    <p>1、积分累计开始：2015年5月1日</p>
    <p>2、积分获得方法：</p>
    <p>A.每日积分，点击领取：每天打开云蚂蚁批发平台首页或者进入积分页面都可以领取每日积分，假设日积分领取基数为500，即第一天可领500积分，第二天可领600积分，第三天可领700积分，第四天可领800积分，第五天可领900积分，第六天可领1000积分（1000积分为封顶积分），保持连续领取可持续获得1000积分，如中间出现间隔，再次领取时从500基础积分开始循环。</p>
    <p>B.下单金额按比例返还积分：每日在云蚂蚁批发平台下单，以订单金额为准（活动内金额不在计算范围内，如：满减、满送、优惠券等平台系列活动）。</p>
    <p>3、如何查看已领取积分明细：登录云蚂蚁批发平台账户后点击首页，点击“积分明细”即可查看。</p>
    <p>4、积分有效期：积分自领取后有效期为1年。</p>
    <h4>四、积分常见问题：</h4>
    <p>1、是不是在云蚂蚁批发平台的每笔购物都可以获得积分？<br/>答：是的，除了用于积分兑换的商品和有特殊标记不参与积分返还的商品，其他商品按规则自动返还相应积分，可在积分明细中查询。</p>
    <p>2、使用用积分兑换优惠券的交易，如果发生退款，积分会退回吗？<br/>答：积分兑换优惠券后，如果在使用优惠券后需退款，则根据优惠券的使用规则来判定是否退还优惠券，不退还积分。</p>
    <p>3、下单付款后需要固定领取积分吗？<br/>答：不需要，订单派送完交由财务收款后，订单状态为交易完成系统会自动返还积分，不需要手动领取。</p>
    <p>4、积分可以全额兑换吗？<br/>答：云蚂蚁商城会根据积分额度，开展各种兑换活动，可以根据活动规则将积分兑换成对应价值的物品或者优惠券。</p>
  </div>
</ion-content>
