mall-products {
  ion-row{
    position: relative;
  }
  .buy {
    width: 30px;
    background: {
      size: 1800px;
      position:-698px 0px;
    };
  }
  .del {
    color: rgba(171, 171, 171, 1);
    text-decoration: line-through;
    display: block;
  }

}

