<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
	<div class="sub_header">
		<ion-segment [(ngModel)]="tabs" class="tabsLogin" color="danger">
			<ion-segment-button value="passwordLogin">原密码修改</ion-segment-button>
			<ion-segment-button value="identifyingLogin">验证码修改</ion-segment-button>
		</ion-segment>
	</div>
	<div class="p_content">
		<div [ngSwitch]="tabs">
			<div *ngSwitchCase="'passwordLogin'">
				<ion-list>
					<ion-item>	
						<input class="psw" [(ngModel)]='opsw' placeholder="请输入密码" type="{{inpType}}" placeholder="请输入旧密码" clearInput>
						<ion-icon class="eyes" name="{{visibled}}" *ngIf="opsw"  end (tap)="visible()"></ion-icon>
					</ion-item>
					<ion-item>	
						<input class="psw"  [(ngModel)]='npsw'  type="{{inpType}}" placeholder="请输入新密码" clearInput>
					</ion-item>
					<ion-item>	
						<input class="psw"  [(ngModel)]='rpsw'  type="{{inpType}}" placeholder="再次输入" clearInput>
					</ion-item>
				</ion-list>
			</div>	
			<div *ngSwitchCase="'identifyingLogin'">
				<ion-list>
					<ion-item>	
						<input class="psw" [(ngModel)]='opsw' placeholder="请输入新密码" type="{{inpType}}" clearInput>
						<ion-icon class="eyes" name="{{visibled}}" *ngIf="opsw"  end (tap)="visible()"></ion-icon>
					</ion-item>
					<ion-item>	
						<input class="psw"  [(ngModel)]='rpsw'  type="{{inpType}}" placeholder="再次输入" clearInput>
						<ion-icon class="eyes" name="{{visibled}}" *ngIf="opsw"  end (tap)="visible()"></ion-icon>
					</ion-item>
					<ion-item>	
						<input class="psw"  [(ngModel)]='number'  type="text" placeholder="请输入您的手机号" clearInput>
					</ion-item>
					<ion-item>	
						<div class="sign_page">	
							<input type="text" placeholder="验证码">
							<div class="timer" *ngIf="!isShowSend">
								倒计时({{num}})
							</div>
							<div class="timer" (tap)="sendCode()" *ngIf="isShowSend">
								重新发送
							</div>
						</div>
					</ion-item>
				</ion-list>
				
			</div>
		</div>
	</div>
	<button ion-button block color='danger' class="login_btn" (tap)="doLogin()">确认修改</button>
</ion-content>
