<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>账户管理</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="sub_header">
    <ion-segment [(ngModel)]="tabs" class="tabsLogin" color="danger">
      <ion-segment-button value="password" (ionSelect)="goToSlide(1)">密码修改</ion-segment-button>
      <ion-segment-button value="identifying" (ionSelect)="goToSlide(2)">验证码修改</ion-segment-button>
    </ion-segment>
  </div>
  <div class="p_content">
    <div [ngSwitch]="tabs">
      <ion-list *ngSwitchCase="'password'">
        <ion-item>
          <ion-input type="text" placeholder="旧密码" [(ngModel)]="oldPassword" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="psw" type="password" [(ngModel)]='newPassword1' placeholder="新密码" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="psw" type="password" [(ngModel)]='newPassword2' placeholder="再次输入" clearInput></ion-input>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'identifying'">
        <ion-item>
          <ion-input type="tel" placeholder="手机号" [(ngModel)]="telNum" disabled="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="新密码" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <div class="sign_page">
            <input type="text" placeholder="验证码" [(ngModel)]='VerificationNum'>
            <div [ngSwitch]="verificationType">
              <button ion-button color="danger" small  *ngSwitchCase="0" (tap)="sendVerification()">
                获取验证码
              </button>
              <button ion-button color="light" small  *ngSwitchCase="1">
                倒计时( {{countDown}} )s
              </button>
              <button ion-button color="danger" small  *ngSwitchCase="2" (tap)="sendVerification()">
                重新发送
              </button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <button ion-button block color='danger' class="login_btn" *ngIf="tabs == 'password'"  (tap)="change(1)">确认修改</button>
  <button ion-button block color='danger' class="login_btn" *ngIf="tabs == 'identifying'" (tap)="change(2)">确认修改</button>
</ion-content>
