page-change-password {
  .segment-ios .segment-button:last-of-type,.segment-ios .segment-button:first-of-type{
    border:none;
    color:black;
  }
  .segment-ios-danger .segment-button.segment-activated{
    background-color:transparent;
    color:#f53d3d;
    border:none;
    border-bottom:2px solid #f53d3d;
  }
  .login_btn{
    width:90%;
    margin:0px auto;
  }
  .list_end span{
    font-size:1.4rem;
    color:#666;
  }
  ion-label[fixed]{
    flex:0 0 80px;
    width:80px;
    min-width:80px;
    max-width:200px;
  }
  .invisibled{
    background:url(http://i1.yunmayi.com/upload/2017/12/23/85e993d6cc89ea7166e98cf3d6e9f954.png) no-repeat 0px 1px / 19px;
  }
  .protocol{
    padding:5px 15px 0;
  }
  .protocol span{
    color:red;
  }
  input{
    border:none;
    width:100%;
    font-size:15px;
  }
  .sign_page{
    display:flex;
    width:100%;
    padding-left: 6px;
    input{
      flex:1;
      height:3.6rem;
    }
  }
  input.psw{
    width:90%;
  }
  .label-ios{
    margin:0;
  }
  .list ion-icon.eyes{
    vertical-align:middle;
    font-size:20px;
  }
}
